body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	background-color: #edf3ef;
}

header {
	background-color: #6ca080;
	margin: 0px;
	padding: 10px;
	color: #FFF;
}

header h1 {
	margin: 0px;
	padding: 0px;
}

footer {
	background-color: #6ca080;
	color: white;
	text-align: center;
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: auto;
}

footer p {

}

nav {
	background-color: #6ca080;
	color: #FFF;
}

nav ul {
	margin: 0px;
}

nav ul li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 3px solid #1b2820;
}

.banner {
	max-width: 650px;
	height: auto;
	padding: 5px;
	margin: 20px;
	background-color: #FFF;
	border: 1px solid #A9A9A9;
	border-radius: 5px;
	float: left;
}

.banner h2 {

}

.side-bar {
	height: auto;
	padding: 5px;
	margin: 20px;
	background-color: #FFF;
	color: #000;
	border: 1px solid #A9A9A9;
	border-radius: 5px;
	float: left;
}

.item {
	width: 95%;
	height: auto;
	padding: 0px;
	margin: auto;
	margin-bottom: 10px;
	background-color: #FFF;
	color: #000;
	border: 1px solid #A9A9A9;
	border-radius: 5px;
}

.item h3, .item p {
	padding: 0px;
	margin: 0px;
}

.item h3 {
	background-color: #c8dbcf;
}

.container {
	width: 90%;
	margin: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #1b2820;
}
